{% extends 'site/home.html.twig' %}

{% block body %}
    <div class="hero">
        <div class="hero__bg">
            <picture>
                <img src="https://images.unsplash.com/photo-1491982883790-ead7c97a047e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2594&q=80">
            </picture>
        </div>

        <div class="hero__cnt">
            <h1>404</h1>
            <p>Page not Found</p>
        </div>
    </div>
{% endblock %}
